# Segmenting and CLustering Neighborhoods in Toronto
## Part 1

In [96]:
#import libraries
import pandas as pd
# import neighborhood data from wikipedia
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)
df = df_list[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [97]:
# cleaning up data frame as recommended in the instruction
df_clean=df[(df['Borough']!='Not assigned')]
df_clean = df_clean.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x)).reset_index()
df_clean['Neighbourhood'][df_clean['Neighbourhood']=='Not assigned']=df_clean['Borough']

df_clean.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [98]:
len(df_clean)

103

## Problem 2

In [99]:
geoloc=pd.read_csv('https://cocl.us/Geospatial_data')
geoloc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [102]:
df_clean['Latitude']=geoloc['Latitude']
df_clean['Longitude']=geoloc['Longitude']
df_clean.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476